{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="navigation">
    <div class="link">
        <a href="{% url 'home' %}"><img src="{% static 'images/icon/return.png' %}" class="icon"></a>
    </div>
    <div class="title"><h1>{{ title }}</h1></div>
</div>

<form action="{% url 'modify-task' task.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <legend>Titre</legend>
        <input type="text" id="title" name="title" value="{{ task.title }}" required>
        <p class="required">Obligatoire</p>
    </fieldset>
    <fieldset>
        <legend>Catégorie</legend>
        {% for category in categories %}
        <div>
            <input type="radio" id="category" name="category" value="{{ category }}" {% if task.category == category %}checked{% endif %}>
            <label for="category">{{ category }}</label>
        </div>
        {% endfor %}
    </fieldset>
    <fieldset>
        <legend>Priorité</legend>
        {% for priority in priorities %}
        <div>
            <input type="radio" id="priority" name="priority" value="{{ priority.id }}" {% if task.priority == priority.id %}checked{% endif %}>
            <label for="priority">{{ priority.type }}</label>
        </div>
        {% endfor %}
    </fieldset>
    <fieldset>
        <legend>Description</legend>
        <textarea name='description' id='description'>{{ task.description }}</textarea>
        <p class='helptext'>Séparer les paragraphes par un point.</p>
    </fieldset>
    <fieldset>
        <legend>Notes</legend>
        <textarea name='notes' id='notes'>{{ task.notes }}</textarea>
        <p class='helptext'>Séparez-les par une virgule et terminer par un point.</p>
    </fieldset>
    <p><input type="submit" value="Ajouter"></p>
</form>

{% endblock %}