{% load static %}
<div class="nav">
    <div class="navbar">
        <div class="logo">
            <p><img src="{% static 'images/favicon/web-app-manifest-192x192.png' %}"><span>Lulu Programme</span></p>
        </div>
    <div class="links-list">
        <a href="#" class="staff"><img src="{% static 'images/icon/task.png' %}" class="icon">
          <span>Tâches</span></a>
        <a href="#" class="staff"><img src="{% static 'images/icon/learn.png' %}" class="icon">
          <span>Apprentissages</span></a>
        <a href="#" class="staff"><img src="{% static 'images/icon/tips.png' %}" class="icon">
          <span>Astuces</span></a>
        <a href="#" class="staff"><img src="{% static 'images/icon/story.png' %}" class="icon">
          <span>Divers</span></a>
    </div>
    </div>
</div>